body,
body * {
  border: 0;
  outline: 0;
  padding: 0;
  margin: 0;
}

img {
  border: 0;
}

button,
div,
img,
svg,
video {
  position: absolute;
}

#main_container {
  position: absolute;
  background-color: #007173;
  border: 1px solid #000000;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 300px;
  height: 250px;
}

#main_content {
  position: absolute;
  top: -1px;
  left: -1px;
  width: 300px;
  height: 250px;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

#default_exit {
  top: -1px;
  left: -1px;
  width: 300px;
  height: 250px;
  z-index: 500;
  cursor: pointer;
}

:focus {
  outline: 0;
}

::-moz-focus-inner {
  border: 0;
}

/* Custom Styling */
@font-face {
  font-family: "heading_font";
  src: url("fonts/Unisys-ExtraBold.otf");
  font-weight: normal;
}

.full-width{
  width: 300px;
  height: 250px;
}
.copy{
  font-family: "heading_font";
  color: #00ffff;
  font-size: 35px;
  letter-spacing: -1.4px;
  line-height: 36px;
  left: 20px;
  top: 25px;
}
.bg{
  width: 238px;
  right: 0px;
  top: 0px;
  border-radius: 0 0 0 36px;
}
.lights-wrap{
  width: 238px;
  height: 189px;
  right: 0px;
  top: 0px;
  overflow: hidden;
  border-radius: 0 0 0 36px;
}
.lights{
  width: 238px;
  right: 0px;
  top: 0px;
  border-radius: 0 0 0 36px;
  opacity: 0;
  /* filter: brightness(0.7) saturate(0.85) blur(2.5px); */
  transform: scale(1.012);
  transform-origin: center center;
  mix-blend-mode: screen;
}
.lights{
  /* opacity: 0; */
  /* filter: brightness(0.9) saturate(1) blur(0.8px); */
  transform: scale(1.08);
  /* mix-blend-mode: screen; */
  /* opacity: 0.9; */
}
.lights-1{
  clip-path: polygon(0% 0%, 19% 0%, 17% 35%, 0% 43%);
}
.lights-2{
  clip-path: polygon(16% 0%, 37% 0%, 39% 33%, 19% 38%);
}
.lights-3{
  clip-path: polygon(36% 0%, 58% 0%, 57% 30%, 40% 38%);
}
.lights-4{
  clip-path: polygon(56% 0%, 81% 0%, 79% 34%, 60% 30%);
}
.lights-5{
  clip-path: polygon(79% 0%, 100% 0%, 100% 39%, 79% 32%);
}
.lights-6{
  clip-path: polygon(0% 33%, 25% 28%, 24% 63%, 0% 72%);
}
.lights-7{
  clip-path: polygon(23% 29%, 46% 25%, 48% 68%, 23% 74%);
}
.lights-8{
  clip-path: polygon(45% 26%, 69% 21%, 72% 74%, 47% 79%);
}
.lights-9{
  clip-path: polygon(67% 28%, 88% 24%, 92% 79%, 70% 83%);
}
.lights-10{
  clip-path: polygon(86% 29%, 100% 24%, 100% 100%, 84% 100%);
}
.cta{
  width: 22px;
  height: 22px;
  top: 207px;
  left: 22px;
}
.logo{
  width: 97px;
  height: 19px;
  right: 22px;
  bottom: 22px;
}
