body,
body * {
  border: 0;
  outline: 0;
  padding: 0;
  margin: 0;
}

img {
  border: 0;
}

button,
div,
img,
svg,
video {
  position: absolute;
}

#main_container {
  position: absolute;
  background-color: #007173;
  border: 1px solid #000000;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 300px;
  height: 250px;
}

#main_content {
  position: absolute;
  top: -1px;
  left: -1px;
  width: 300px;
  height: 250px;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

#default_exit {
  top: -1px;
  left: -1px;
  width: 300px;
  height: 250px;
  z-index: 500;
  cursor: pointer;
}

:focus {
  outline: 0;
}

::-moz-focus-inner {
  border: 0;
}

/* Custom Styling */
@font-face {
  font-family: "heading_font";
  src: url("fonts/Unisys-ExtraBold.otf");
  font-weight: normal;
}

.full-width{
  width: 300px;
  height: 250px;
}
.copy{
  font-family: "heading_font";
  color: #cfff8f;
  font-size: 34.9px;
  letter-spacing: -1.4px;
  line-height: 36.5px;
  left: 20px;
  top: 24px;
}
.bg{
  width: 238px;
  right: 0px;
  top: 0px;
  border-radius: 0 0 0 36px;
}
.road{
  width: 238px;
  right: 0px;
  top: 0px;
  border-radius: 0 0 0 36px;
}
.cta{
  width: 22px;
  height: 22px;
  top: 207px;
  left: 22px;
}
.logo{
  width: 97px;
  height: 19px;
  right: 22px;
  bottom: 22px;
}
.wrap{
  width: 238px;
  height: 189px;
  overflow: hidden;
  right: 0px;
  top: 0px;
  border-radius: 0 0 0 36px;
}
/* .dots{
  left: -84px;
  top: 8px;
} */

.dots{
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
}
.dot{
  position: absolute;
  height: 8px;
  width: 8px;
  background: #3f7300;
  border-radius: 50%;
  left: 63px;
  top: 8px;
}
.dot2{
  top: 36px;
  background: #83b23e;
}
.dot3{
  top: 63px;
}
.dot4{
  top:89px;
}
.dot5{
  top:116px;
}
.dot6{
  left: 110px;
  width: 6px;
  height: 6px;
  top: 9px;
}
.dot7{
  left: 110px;
  width: 6px;
  height: 6px;
  top: 49px;
}
.dot8{
  left: 110px;
  width: 6px;
  height: 6px;
  top: 69px;
}
.dot9{
  left: 110px;
  width: 6px;
  height: 6px;
  top: 89px;
}
.dot9_1{
  left: 110px;
  width: 6px;
  height: 6px;
  top: 141px;
  background: #6f8d06;
}
.dot10{
  left: 110px;
  width: 6px;
  height: 6px;
  top: 170px;
}
.dot11{
  left: 141px;
  top: 22px;
  height: 3px;
  width: 3px;
}
.dot12{
  left: 141px;
  top: 35px;
  height: 3px;
  width: 3px;
}
.dot13{
  left: 141px;
  top: 48px;
  height: 3px;
  width: 3px;
}
.dot14{
  left: 141px;
  top: 61px;
  height: 3px;
  width: 3px;
}
.dot15{
  left: 141px;
  top: 74px;
  height: 3px;
  width: 3px;
}
.dot16{
  left: 141px;
  top: 87px;
  height: 3px;
  width: 3px;
}
.dot17{
  left: 141px;
  top: 100px;
  height: 3px;
  width: 3px;
}
.dot18{
  left: 140px;
  top: 140px;
  height: 3px;
  width: 3px;
  background: #768f38;
}
.dot19{
  left: 140px;
  top: 153px;
  height: 3px;
  width: 3px;
  background: #768f38;
}
.dot20{
  left: 140px;
  top: 166px;
  height: 3px;
  width: 3px;
  background: #768f38;
}