body,
body * {
  border: 0;
  outline: 0;
  padding: 0;
  margin: 0;
}

img {
  border: 0;
}

button,
div,
img,
svg,
video {
  position: absolute;
}

#main_container {
  position: absolute;
  background-color: #cfff8f;
  border: 1px solid #000000;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 300px;
  height: 250px;
}

#main_content {
  position: absolute;
  top: -1px;
  left: -1px;
  width: 300px;
  height: 250px;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

#default_exit {
  top: -1px;
  left: -1px;
  width: 300px;
  height: 250px;
  z-index: 500;
  cursor: pointer;
}

:focus {
  outline: 0;
}

::-moz-focus-inner {
  border: 0;
}

/* Custom Styling */
@font-face {
  font-family: "heading_font";
  src: url("fonts/Unisys-ExtraBold.otf");
  font-weight: normal;
}

.full-width{
  width: 300px;
  height: 250px;
}
.copy{
  font-family: "heading_font";
  color: #003134;
  font-size: 32px;
  letter-spacing: -1.4px;
  line-height: 33px;
  left: 20px;
  top: 36px;
}
.bg{
  width: 238px;
  right: 0px;
  top: 0px;
  border-radius: 0 0 0 36px;
}

/* Background animation */
.background {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0vw;
  width: 238px;
  height: 189px;
  background-image: url(images/bg.jpg);
  background-size: cover;
  border-radius: 0 0 0 36px;
  overflow: hidden;
}

.background .water {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 238px;
    height: 189px;
    background-image: url(images/bg.jpg);
    background-size: 238px 189px;
    background-position: 0px 0px;
    filter: url("#turbulence");
    -webkit-filter: url("#turbulence");
}
#turbulence{
    position: absolute;
    width: 238px;
    height: 189px;
    left: 0px;
    top: 0px;
}


.man{
  width: 97px;
  left: 174px;
  top: 88px;
  scale: 0.6;
}
.cta{
  width: 22px;
  height: 22px;
  top: 207px;
  left: 22px;
}
.logo{
  width: 97px;
  height: 19px;
  right: 22px;
  bottom: 22px;
}