body,
body * {
  border: 0;
  outline: 0;
  padding: 0;
  margin: 0;
}

img {
  border: 0;
}

button,
div,
img,
svg,
video {
  position: absolute;
}

#main_container {
  position: absolute;
  background-color: #003134;
  border: 1px solid #000000;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 300px;
  height: 250px;
}

#main_content {
  position: absolute;
  top: -1px;
  left: -1px;
  width: 300px;
  height: 250px;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

#default_exit {
  top: -1px;
  left: -1px;
  width: 300px;
  height: 250px;
  z-index: 500;
  cursor: pointer;
}

:focus {
  outline: 0;
}

::-moz-focus-inner {
  border: 0;
}

/* Custom Styling */
@font-face {
  font-family: "heading_font";
  src: url("fonts/Unisys-ExtraBold.otf");
  font-weight: normal;
}

.full-width{
  width: 300px;
  height: 250px;
}
.copy{
  font-family: "heading_font";
  color: #00ffff;
  font-size: 39px;
  letter-spacing: -1.5px;
  line-height: 39px;
  left: 19px;
  top: 25px;
}

.bg{
  width: 238px;
  right: 0px;
  top: 0px;
  border-radius: 0 0 0 36px;
}
.image_wrap{
  width: 238px;
  height: 189px;
  right: 0px;
  top: 0px;
  border-radius: 0 0 0 36px;
  overflow: hidden;
}
#Layer_1{
  width: 380px;
  right: -135px;
  top: -20px;
}
/* .cls-1 {
  fill: none;
  stroke: #ff3b3b;
  stroke-width: 3;
} */
.cta{
  width: 22px;
  height: 22px;
  top: 207px;
  left: 22px;
}
.logo{
  width: 97px;
  height: 19px;
  right: 22px;
  bottom: 22px;
}